#root{
  height:100%
}
html, body{
  height: 100%;
}
.chatbox{
  /* margin-top: 100px; */
  padding: 50px;
  /* overflow: hidden; */
}
  .chat-container {
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .chat-messages {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 20px;
    /* border: 1px solid #ccc; */
  }
  
  /* .message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
  } */
  
  .message-box{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius:0px;
    margin-top: 10px;
    padding: 20px;
    width: fit-content;
    transition: opacity 0.5s ease-in-out;
  }
  
  .user {
    background-color: #487ccf;
    color: #fff; 
    /* backgroundColor:'#487ccf', */
    /* #ced2d9 grey*/
    /* #487ccf blue*/
  }

  .bot{
    background-color: #aaadb3;
    color: #fff; 
  }

 
  .chat-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    width: 65%;
    overflow-y: auto;
    border: 1px solid #b6b9bf;
    border-radius: 7px;
    padding: 10px;
    /* position:fixed; */
    /* position: relative; */

  }
  
  /* textarea {
    flex: 1;
    padding: 20px;
    border:0 !important;

    resize: none;
    overflow-y: auto;
    max-height: 600px;
  
    scrollbar-width:'thick'; 
    scrollbar-color: #4caf50 #e0e0e0; 
  } */
  

  .add-scrollbar{
    width: 65%;
    overflow-y: auto;;
    height: 600px;
    display: inline-grid;

  }
  .add-scrollbar::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    cursor: pointer;
    /* position: absolute; */
    z-index: 0;
  }
  
  .add-scrollbar::-webkit-scrollbar-track {
    /* background: #e6e8eb;  */
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .add-scrollbar::-webkit-scrollbar-thumb {
    background-color: #74777a; /* Color of the thumb */
    border-radius: 6px; /* Radius of the thumb */
    /* border: 3px solid #e0e0e0; Border around the thumb */
    border: 3px solid transparent; /* Border around the thumb */
    
    cursor: pointer;
  }


  textarea::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    cursor: pointer;
    /* position: absolute; */
    z-index: 0;
  }
  
  textarea::-webkit-scrollbar-track {
    background: #e6e8eb; /* Color of the track */
    border-radius: 6px;
    cursor: pointer;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: #74777a; /* Color of the thumb */
    border-radius: 6px; /* Radius of the thumb */
    border: 3px solid #e0e0e0; /* Border around the thumb */
    cursor: pointer;
  }
  
  .send-button {
    padding: 8px;
    margin-left: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 5%;
    height:20%;
    align-self: flex-end;
    z-index:1;

  }
  .mail-button {
    margin-top: 30px !important;
    width: 25% !important;
    align-self: center !important;
    background-color: #487ccf !important;
    color: white !important;
    transition: color 0.3s, background-color 0.3s; /* Add transition for smooth effect */
  }
  
  .mail-button:hover {
    background-color: white !important;
    color: #487ccf !important;
    border:1px solid  #487ccf !important;
  }
  