.custom-badge {
  display: inline-block;
  padding: 0.6em 1em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.75rem;
}

.custom-badge-success {
  color: #28a745; /* Dark green, same as background color */
  background-color: #d4edda; /* Light green background color */
}

.custom-badge-danger {
  color: #dc3545; /* Dark red, same as background color */
  background-color: #f8d7da; /* Light red background color */
}

.custom-badge-warning {
  color: #ebaa32; /* Orange, same as background color */
  background-color: #f1dcce; /* Light orange background color */
}

.custom-badge-purple {
  color: #800080; /* Dark purple, same as background color */
  background-color: #d8bfd8; /* Light purple background color */
}

.custom-badge-secondary {
  color: #6c757d; /* Dark grey, same as background color */
  background-color: #c8d1da; /* Light grey background color */
}
